{%  set mapping =
    {
        'contact' : {'status' : 'contactstatus'},
        'asset'   : {'trigger' : 'assettriggertype', 'type' : 'assettype'},
        'document' : {'type' : 'documenttype'},
        'keycard'  : {'usage' : 'keycardusagetype'},
        'state'  : {'usage' : 'orderstate'}
    }
%}

{% if data.response is defined and data.response is not empty %}
<table class='fullwidth'>
    <thead>
    <tr>
        <th>Parameter</th>
        <th>Type</th>
        <th>Versions</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for name, infos in data.response %}
        <tr>
            <td>
                {% set lowerName =  name | lower %}
                {% if name | lower in enums %}
                    <a href="../../enums/{{ lowerName }}/index.html">{{  name }}</a>
                {% elseif mapping[entityName][lowerName] is defined %}
                    <a href="../../enums/{{ mapping[entityName][lowerName] }}/index.html">{{  name }}</a>
                {% else %}
                    {{  name }}
                {% endif %}
            </td>
            <td>{{ infos.dataType }}</td>
            <td>{% include 'NelmioApiDocBundle:Components:version.html.twig' with {'sinceVersion': infos.sinceVersion, 'untilVersion': infos.untilVersion} only %}</td>
            <td>{{ infos.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}